{% extends "index" %}

{% block content %}

  <h1>Our Blog</h1>
  <p>Welcome to our sweet blog!</p>

  {% set posts = craft.entries.section("blogPosts").all() %}

  {% for post in posts %}
    <h2>{{ post.title }}</h2>
    {{ post.richText|striptags|slice(0, 180) }}...
    <p>
      <a href="{{ post.url }}">Read More</a>
    </p>
  {% endfor %}

{% endblock %}