{% extends "index" %}

{% block content %}

  <div class="banner" style="background-image: url('{{ siteUrl }}uploads/bruno-ramos-lara-sz3AWACktLc-unsplash.jpg')">
    <div class="content-column">

      <h1>{{ entry.title }}</h1>
    
    </div>
  </div>

  <div class="content-column">
  
    {{ entry.richText }}

  </div>

{% endblock %}