/* General */
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background: #f6f6f6;
}

div, span, section, header, nav, footer, figure, p, h1, h2, h3, h4, h5, h6, img {
  position: relative;
  box-sizing: border-box;
}

/* Header */
.header {
  color: #ffffff;
  justify-content: space-between;
  display: flex;
  background: #1b1b1b;
}

.logo {
  padding: 12px 30px;
  height: 38px;
  transition: background-color .2s ease;
}

.logo img {
  top: 1px;
  height: 100%;
}

.logo:hover {
  background-color: rgba(255,255,255,0.15);
}

/* Navigation */
.nav {
  padding: 0 10px;
  align-items: center;
  display: flex;
}

.nav-link {
  padding: 0 20px;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  align-items: center;
  display: flex;
  transition: background-color .2s ease;
}

.nav-link:not(.nav-link--active):hover {
  background-color: rgba(255,255,255,0.15);
}

.nav-link--active {
  background-color: #e5422b;
}

/* Content */
.content-column {
  margin: 0 auto;
  padding: 30px 30px 60px;
  max-width: 760px;
}

/* Typography & Images */
h1 {
  margin: 1em 0;
  font-size: 38px;
  line-height: 1.2;
}

p {
  margin: 20px 0;
}

figure {
  margin: 20px 0;
}

img {
  max-width: 100%;
}

.feature-img, .content-column figure img {
  margin: 20px 0 10px;
  width: 100%;
  box-shadow: 0 5px 6px -3px rgba(0,0,0,0.15);
}

/* Banner */
.banner {
  text-align: center;
  color: #ffffff;
  background-color: #9b9b9b;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: '';
  display: block;
  background: rgba(0,0,0,0.75);
}

.banner .content-column {
  z-index: 10;
  padding: 60px 30px;
}

.banner h1 {
  font-size: 56px;
}

/* Footer */
.footer {
  padding: 20px 30px;
  font-size: 14px;
  text-align: center;
  color: #bebebe;
  background: #1b1b1b;
}

.footer p {
  margin: 0;
}